@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);
}

.dark {
  --tt-theme-text: var(--tt-gray-dark-900);
}

.simple-editor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent; 
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
}

.simple-editor-content {
  width: 100%;
  max-width: none; 
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 0.75rem 1rem; 

  min-height: 80px; 
  
  font-family: "DM Sans", sans-serif;
  outline: none;
}

.simple-editor-content ::-webkit-scrollbar {
  width: 0.25rem;
}

.simple-editor-content ::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color, #ccc);
  border-radius: 9999px;
}